.cover__background {
    background-size: cover;
    background-image: url(../../../images/__background.jpg);
    min-height: 740px;
    position: relative;
    margin: 92px auto 0;
}

.cover__background::after {
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background-color: #000;
    opacity: 0.3;
    transition: opacity 0.2s ease-in;
    z-index: 1;
}

.cover__background:hover::after {
    opacity: 0.7;
}

@media screen and (max-width: 1280px) {
    .cover__background {
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 1024px) {
    .cover__background {
        margin: 92px 0 0;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        margin: 90px 0 0;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        margin: 66px 0 0;
        min-height: 200px;
    }
}