.place {
    box-sizing: border-box;
    padding-bottom: 80px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 48px 40px;
}

.place:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 1025px) {
    .place {
        grid-template-columns: repeat(2, minmax(288px, 1fr));
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-bottom: 50px;
        gap: 32px;
    }
}
    